{% extends 'MeancoApp/Home.html' %}
{% load staticfiles %}
{% block content %}

    {% csrf_token %}

    <div class="col-md-4">
        <h1> {{ topic.label }} </h1>
        <ul style="list-style-type:none" class="tag-list">
            {% for of in oftopic %}
                <li>
                    <h3>
                        <span class="label label-default">
                            {{ of.tag.label }} </span>
                        <span class="label-desc">{{ of.tag.description }}</span>
                    </h3>
                </li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}

            <form class="form-horizontal" id="addTagId" method="post">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div>
                            <input type="hidden" class="form-control" id="topicId" value="{{ topic.id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="hidden" class="form-control" id="tag-id" value="-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tag:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" rows="1" id="label" name="newTagName" onkeyup="showTags(this.id, this.value)">
                        </div>
                    </div>
                    <div>
                        <ul id="livesearch-tag"></ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="cDescription" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" id="cURL">
                        </div>
                    </div>
                </form>
                <div>
                    <button type="submit" id="tagSubmitId" class="btn btn-success">Add Tag</button>
                </div>
                <p id="tagWarningId"></p>
            </form>
        {% endif %}

        <script>
            function pickATag(id, label, description, url){
                console.log("A tag is picked.");
                $('#label').replaceWith("<input type=\"text\" class=\"form-control\" id=\"label\" name=\"newTagName\" onkeyup=\"showTags(this.id, this.value)\" value=\"" + label + "\">");
                $('#cDescription').replaceWith("<textarea class=\"form-control\" id=\"cDescription\" value=\"" + description + "\" disabled>" + description + "</textarea>");
                $('#cURL').replaceWith("<input type=\"hidden\" class=\"form-control\" id=\"cURL\" value=\"" + url + "\">");
                $('#tag-id').val(id);
                $('#livesearch-tag').replaceWith('<ul id="livesearch-tag"><ul>');
            }

            function showTags(id, str) {

                if (str.length != 0) {

                    $('#tag-id').val(-1);

                    $.ajax({
                        url: "https://www.wikidata.org/w/api.php?action=wbsearchentities&search="+$('#label').val()+"&language=en&format=json",
                        type: "get",
                        cache: 'false',
                        dataType: "jsonp",
                        async: 'true',

                        success: function(response) {
                            console.log(response);

                            if(response.search.length == 0){
                                console.log("Tag could not be found in wikidata.");
                                $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag could not be found in wikidata.</p>");
                                $("#label").replaceWith('<input type="text" class="form-control" rows="1" id="label" name="newTagName" onkeyup="showTags(this.id, this.value)">');
                                $("#cDescription").replaceWith('<textarea class="form-control" id="cDescription" disabled></textarea>');
                                $("#cURL").replaceWith('<input type="hidden" class="form-control" id="cURL">');
                            }else{
                                $("#tagWarningId").replaceWith("<p id=\"tagWarningId\"></p>");

                                result = '<ul class="result" id="livesearch-tag">';
                                for (var i in response.search) {
                                    if (response.search[i].description) {
                                        if(!response.search[i].description.includes("disambiguation") && response.search[i].description.length <= 100 && response.search[i].label.length <= 30){
                                            label = response.search[i].label;
                                            description = response.search[i].description;
                                            url = response.search[i].concepturi;
                                            result += '<li id=' + i + ' onclick="pickATag(' + i + ',\'' + label + '\', \'' + description + '\', \'' + url + '\')">' + label + ' (' + description + ')</li>';
                                        }else{
                                            console.log("There is a tag with disambiguous description.");
                                        }
                                    }else{
                                        console.log("There is a tag without description.");
                                    }
                                }
                                result += '</ul>';
                                $('#livesearch-tag').replaceWith(result);
                            }

                        },
                        error: function(response){
                            console.log("Error!");
                            console.log(response);
                        }
                    });
                }
            }

            $(document).ready(function () {
                $('#tagSubmitId').on('click', function(event){
                    event.preventDefault();
                    console.log("new tag is submitted.");  // sanity check
                    var serializedData = {
                        topicId: {{ topic.id }},
                        label: $('#label').val(),
                        description: $('#cDescription').val(),
                        URL: $('#cURL').val()
                    };
                    console.log("post data: " + serializedData);
                    console.log("form submitted!");  // sanity check

                    $("#tagWarningId").replaceWith("<p id=\"tagWarningId\"></p>");
                    if($("#label").val().length == 0 || $('#tag-id').val() == -1){
                        console.log("Empty tag field!");
                        $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Please choose a tag to add.</p>");
                        return;
                    }
                    $.ajax({
                        url: "{% url 'addTag'%}",
                        type: "post",
                        data: serializedData,
                        cache: 'false',
                        async: 'true',

                        success: function(response) {
                            console.log("No error.");
                            console.log(response);
                            if(response.tagId){
                                console.log("Tag exists now.");
                                location.reload();
                            }else if(response == "Already Tagged"){
                                console.log("Tag is already linked.");
                                $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag is already linked.</p>");
                            }else{
                                console.log("Tag cannot be created.");
                                $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag cannot be created.</p>");
                            }
                        },
                        error: function(response){
                            console.log("Error: AddTag!");
                            if(response == "Tag Linking Error:"){
                                console.log("Tag Linking Error:");
                            }else if(response == "Tag creation error"){
                                console.log("Tag is already linked.");
                            }else if(response == "Tag Linking error"){
                                console.log("Tag Linking error");
                            }else{
                                console.log("Tag cannot be created.");
                            }
                            $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag cannot be created.</p>");
                            console.log(response);
                        }
                    });

                });
            });

        </script>

    </div>

    <div class="col-md-8">
        <div class="row" style="background-color:#C2FABC;">
            <div class="col-md-2" >
                <h4> Votes </h4>
            </div>

            <div class="col-md-8">
                <h4> Top Comments </h4>
            </div>

            <div class="col-md-2">
                <h4> Up/Down Vote </h4>
            </div>
        </div>
        <hr>

        {% if user.is_authenticated %}
            <div style="overflow-y: scroll; max-height: 340px">
        {% else %}
            <div style="overflow-y: scroll; max-height: 440px">
        {% endif %}

        {% for comment in comments %}
            <div class="row" id="cRow">
                <div class="col-md-2">
                    <h4> {{ comment.vote_count }} </h4>
                </div>
                <div class="col-md-8">
                    <p id="content{{ comment.id }}"> {{ comment.content }}</p>
                    <p id="changeComm{{ comment.id }}"></p>
                    <p>{{ comment.current.timestamp }} {{ comment.profile.user.username }}</p>
                    {% if user.is_authenticated and comment.profile.id == user.profile.id %}
                        <p id="cEdit{{ comment.id }}"><button type="submit" class="btn btn-default" style="color:forestgreen" onclick='editComment(this.id, {{ comment.id }}, "{{ comment.content }}")'><span id="edit{{ comment.id }}" class="glyphicon glyphicon-pencil"></span></button></p>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-default" id="upvoteId" style="color:pink" onclick="upvote(this.id, {{ comment.id }})"><span id="up{{ comment.id }}"><img width="15px" height="15px" src="{% static "image/ic_upvote_empty.png" %}"></span></button>
                    <button type="submit" class="btn btn-default" id="downvoteId" onclick="downvote(this.id, {{ comment.id }})"><span id="down{{ comment.id }}"><img width="15px" height="15px" src="{% static "image/ic_downvote_empty.png" %}"></span></button>
                {% endif %}
            </div>
            <hr>
        {% endfor %}

        {% if user.is_authenticated %}

            <form class="form-horizontal" style="position: fixed; bottom: 20px; width: 700px; float: right "
                  id="addCommentId" method="post">
                <form class="form-horizontal">
                    <p id="cWarningId"></p>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" name="topicId" value="{{ topic.id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Comment:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id="newCommentId" name="text" placeholder="Make a comment..."></textarea>
                        </div>
                    </div>
                    <div>
                        <button type="submit" id="cSubmitId" class="btn btn-success" style="float: right">
                            Add Comment
                        </button>
                    </div>
                </form>
            </form>

        {% endif %}
        </div>

    </div>

<script>
    $(document).ready(function () {
        $('#cRow').each(function(){
            $.ajax({
                url: "/API/GetCommentVoters",
                type: "get",
                data: "TopicId="+{{ topic.id }},
                cache: 'false',
                dataType: "json",
                async: 'true',

                success: function (response) {
                    console.log(response);
                    for(c in response){
                        commentId = response[c].fields.comment;
                        if(!response[c].fields.upvoted && !response[c].fields.downvoted){
                            console.log("Comment is neither upvoted not downvoted.");
                            $("#up"+commentId).replaceWith('<span id="up{{ comment.id }}"><img width="15px" height="15px" src="{% static "image/ic_upvote_empty.png" %}"></span>');
                            $("#down"+commentId).replaceWith('<span id="down{{ comment.id }}"><img width="15px" height="15px" src="{% static "image/ic_downvote_empty.png" %}"></span>');
                        }else if(response[c].fields.upvoted){
                            console.log("Comment is upvoted.");
                            $("#up"+commentId).replaceWith('<span id="up{{ comment.id }}"><img width="15px" height="15px" src="{% static "image/ic_upvote_filled.png" %}"></span>');
                        }else if(response[c].fields.downvoted){
                            console.log("Comment is downvoted.");
                            $("#down"+commentId).replaceWith('<span id="down{{ comment.id }}"><img width="15px" height="15px" src="{% static "image/ic_downvote_filled.png" %}"></span>');
                        }else{
                            console.log("Something wrong with voting system.")
                        }

                    }

                },
                error: function (response) {
                    console.log(response);
                    console.log("Error during vote assessment.");

                }

            });
        });

    });

    $(document).ready(function () {
        $('#cSubmitId').on('click', function (event) {
            event.preventDefault();
            console.log("form submission requested...");  // sanity check
            serializedData = $("#addCommentId").serialize();
            console.log("post data: " + serializedData);
            console.log("form submitted!");  // sanity check
            if ($("#newCommentId").val().length == 0) {
                console.log("Empty comment!");
                $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"commentWarningId\">Comment is empty.</p>");
                return;
            }

            $.ajax({
                url: "{% url 'addComment'%}",
                type: "post",
                data: serializedData,
                cache: 'false',
                dataType: "json",
                async: 'true',

                success: function (response) {
                    console.log(response);
                    if (response.commentId) {
                        console.log("Comment exists now.");
                        location.reload();
                    } else {
                        console.log("Comment cannot be created.");
                        $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"topicWarningId\">Comment cannot be created.</p>");
                    }
                },
                error: function (response) {
                    console.log(response);
                    console.log("Error during topic creation.");
                    console.log(response);
                    if (response == "Comment Creation Error") {
                        console.log("Comment Creation Error");
                        $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"topicWarningId\">Comment cannot be created.</p>");
                    } else if (response == "Comment linking Error") {
                        console.log("Comment linking Error");
                        $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"topicWarningId\">Comment cannot be created.</p>");
                    }
                }
            });
        });
    });

    function upvote (id, commentId) {
        event.preventDefault();
        console.log("form submission requested...");  // sanity check
        console.log("CommentId: " + commentId);
        var serializedData = {
            comment: commentId,
            direction: "upvote"
        };
        console.log("post data: " + serializedData);
        console.log("form submitted!");  // sanity check

        $.ajax({
            url: "{% url 'rate'%}",
            type: "post",
            data: serializedData,
            cache: 'false',
            async: 'true',

            success: function (response) {
                console.log(response);
                if (response.responseText="Rated") {
                    console.log("Comment is upvoted now.");
                    location.reload();
                } else {
                    console.log("Comment cannot be upvoted.");
                }
            },
            error: function (response) {
                console.log(response);
                console.log("Error during upvote.");
                console.log(response);
            }
        });
    }

    function downvote (id, commentId) {
        event.preventDefault();
        console.log("form submission requested...");  // sanity check
        console.log("CommentId: " + commentId);
        var serializedData = {
            comment: commentId,
            direction: "downvote"
        };
        console.log("post data: " + serializedData);
        console.log("form submitted!");  // sanity check

        $.ajax({
            url: "{% url 'rate'%}",
            type: "post",
            data: serializedData,
            cache: 'false',
            async: 'true',

            success: function (response) {
                console.log(response);
                if (response.responseText="Rated") {
                    console.log("Comment is downvoted now.");
                    location.reload();
                } else {
                    console.log("Comment cannot be downvoted.");
                }
            },
            error: function (response) {
                console.log(response);
                console.log("Error during downvote.");
                console.log(response);
            }
        });
    }

    function editComment(id, commentId, content){

        $('#content'+commentId).replaceWith('<textarea class="form-control" rows="5" id="content'+commentId+'" name="text">' + content + '</textarea>');
        $('#changeComm'+commentId).replaceWith('<p id="changeComm' + commentId + '"><button type="submit" class="btn btn-default" style="color:forestgreen" onclick="changeComment(' + commentId + ')">Submit</button></p>');
        $('#cEdit'+commentId).replaceWith('');

    }

    function changeComment(commentId){
        console.log("Edit comment.");
        console.log(commentId);
        content = $('#content'+commentId).val();
        console.log(content);
        var serializedData = {
            commentId: commentId,
            text: content
        };
        $.ajax({
            url: "/API/EditComment",
            type: "post",
            data: serializedData,
            cache: 'false',
            async: 'true',

            success: function (response) {
                console.log(response);
                if (response="Comment Edited") {
                    console.log("Comment is edited now.");
                    location.reload();
                } else {
                    console.log("Comment cannot be edited.");
                }
            },
            error: function (response) {
                console.log(response);
                console.log("Error during downvote.");
                if(response == "Comment Edit Error"){

                }else if(response == "Comment linking Error"){

                }
            }
        });

    }


</script>

{% endblock %}

{% comment %}

{% extends 'MeancoApp/Home.html' %}
{% block content %}
    <font size="13" color="orange">{{ topic.label }}</font>
</br>
    <font size="5" color="#8a2be2">Relations:</font>
     </br>
    {% if user.is_authenticated %}
        <a href="/topic/{{ topic.id }}">Edit relations.</a>
    {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">Login to edit relations!</a>
    {% endif %}
    </br>

    <!--Relations from this to others:-->
    {% for relation in relationsFrom %}
        {% if not relation.isBidirectional %}
            <h3>{{ relation.label }}:</h3> {{ relation.topic_a.label }} -> {{ relation.topic_b.label }}
        {% endif %}
        {% if relation.isBidirectional %}
            <h3>{{ relation.label }}:</h3> {{ relation.topic_a.label }} <-> {{ relation.topic_b.label }}
        {% endif %}
        </br>

    {% endfor %}
    <!--Relations to this from others.-->
    {% for relation in relationsTo %}
        {% if not relation.isBidirectional %}
            <h3>{{ relation.label }}:</h3> {{ relation.topic_a.label }} <- {{ relation.topic_b.label }}
        {% endif %}
    {% endfor %}

    </br>
    <font size="5" color="#8a2be2">Comments:</font>
    </br>
    {% if user.is_authenticated %}
        <h1>Add a comment:</h1>
        <form action="/API/AddComment" method="post"> {% csrf_token %}
            <input type="hidden" name="topicId" value="{{ topic.id }}"><br>
            Comment: <input type="text" name="text"><br>
            <button type="submit">Save</button>
        </form>
    {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">Login to add a comment!</a>
    {% endif %}
    {% for comment in comments %}
        <hr>
        <div class="Comment">
            <div class="date">
                {{ comment.current.timestamp }}
            </div>
            <h2>{{ comment.profile.user.username }}</h2>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}

    <font size="5" color="#8a2be2">Tags:</font>
    </br>
    {% if user.is_authenticated %}
        <h1>Add tag:</h1>
        <form action="/API/AddTag" method="post"> {% csrf_token %}
            <input type="hidden" name="topicId" value="{{ topic.id }}"><br>
            Tag: <input type="text" name="label"><br>
            Context: <input type="text" name="context"><br>
            <button type="submit">Save</button>
        </form>
    {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">Login to edit tags!</a>
    {% endif %}
    {% for of in oftopic %}
        <p>{{ of.tag.label }}</p>
    {% endfor %}
{% endblock %}
{% endcomment %}