{% extends 'MeancoApp/Home.html' %}
{% load staticfiles %}
{% block content %}

    {% csrf_token %}

    <div class="col-md-4">
        <h1> {{ topic.label }}
            <!-- Add follow topic button if the user is logged in. -->
            {%  if user.is_authenticated %}
                {% if followed %}
                    <button type="submit" class="btn btn-lg btn-link" id="nVoteId"
                            style="color:red" onclick="follow({{ topic.id }})">
                        <span id="{{ topic.id }}" class="glyphicon glyphicon-heart"></span>
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-lg btn-link" id="nVoteId"
                            style="color:red" onclick="follow({{ topic.id }})">
                        <span id="{{ topic.id }}" class="glyphicon glyphicon-heart-empty"></span>
                    </button>
                {% endif %}

            {% else %}
                <button type="submit" class="btn btn-lg btn-link disabled" id="nVoteId" style="color:red" onclick="follow({{ topic.id }})" disabled><span id="{{ topic.id }}" class="glyphicon glyphicon-heart-empty"></span></button>
            {% endif %}
        </h1>
        <!-- Show tags of topic. -->
        <ul style="list-style-type:none" class="tag-list">
            {% for of in oftopic %}
                <li>
                    <h3>
                        <span class="label label-default">
                            #{{ of.tag.label }} </span>
                        <span class="label-desc">{{ of.tag.description }}</span>
                    </h3>
                </li>
            {% endfor %}
        </ul>


            <!-- Add tag form. -->
            <form class="form-horizontal" id="addTagId" method="post">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div>
                            <input type="hidden" class="form-control" id="topicId" value="{{ topic.id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="hidden" class="form-control" id="tag-id" value="-1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tag:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" rows="1" id="label" name="newTagName" onkeyup="showTags(this.id, this.value)">
                        </div>
                    </div>
                    <div>
                        <ul id="livesearch-tag"></ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Description:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="cDescription" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" id="cURL">
                        </div>
                    </div>
                </form>
                {% if user.is_authenticated %}
                    <div>
                        <button type="submit" id="tagSubmitId" class="btn btn-success">Add Tag</button>
                    </div>
                    <p id="tagWarningId"></p>
                {% else %}
                    <div>
                        <button type="submit" id="tagSubmitId" class="btn btn-success disabled" disabled>Add Tag</button>
                    </div>
                    <p id="tagWarningId"></p>
                {% endif %}
            </form>


        <script>
            sorted = false;

            /**
             * Pick a tag from the list, change related fields, and display tag information.
             *
             * @param id
             * @param label     Tag label
             * @param description   Tag description
             * @param url   Tag URL
             */
            function pickATag(id, label, description, url){
                console.log("A tag is picked.");
                $('#label').replaceWith("<input type=\"text\" class=\"form-control\" id=\"label\" name=\"newTagName\" onkeyup=\"showTags(this.id, this.value)\" value=\"" + label + "\">");
                $('#cDescription').replaceWith("<textarea class=\"form-control\" id=\"cDescription\" value=\"" + description + "\" disabled>" + description + "</textarea>");
                $('#cURL').replaceWith("<input type=\"hidden\" class=\"form-control\" id=\"cURL\" value=\"" + url + "\">");
                $('#tag-id').val(id);
                $('#livesearch-tag').replaceWith('<ul id="livesearch-tag"><ul>');
            }

            /**
             * Show live tag information as the tag-id field changes.
             * A get request is sent to wikidata to search for a tag.
             *
             * @param id
             * @param str   Search field input from the user.
             */
            function showTags(id, str) {

                if (str.length != 0) {

                    $('#tag-id').val(-1);

                    // search=[search input from user]
                    $.ajax({
                        url: "https://www.wikidata.org/w/api.php?action=wbsearchentities&search="+$('#label').val()+"&language=en&format=json",
                        type: "get",
                        cache: 'false',
                        dataType: "jsonp",  // Response data type.
                        async: 'true',

                        success: function(response) {   // Successful connection to and response from Wikidata.
                            console.log(response);

                            if(response.search.length == 0){    // No result for search parameter. Show warning and reset tag related fields.
                                console.log("Tag could not be found in wikidata.");
                                $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag could not be found in wikidata.</p>");
                                $("#label").replaceWith('<input type="text" class="form-control" rows="1" id="label" name="newTagName" onkeyup="showTags(this.id, this.value)">');
                                $("#cDescription").replaceWith('<textarea class="form-control" id="cDescription" disabled></textarea>');
                                $("#cURL").replaceWith('<input type="hidden" class="form-control" id="cURL">');
                            }else{  // Result(s) returned for search parameter..
                                // No warning to show the user.
                                $("#tagWarningId").replaceWith("<p id=\"tagWarningId\"></p>");

                                result = '<ul class="result" id="livesearch-tag">';
                                for (var i in response.search) {
                                    if (response.search[i].description) {   // Show only the tags with description.
                                        // Show tags if they are not disambiguation pages. Then only show if tag length is less than 30 and their description is shorter than 100 characters.
                                        if(!response.search[i].description.includes("disambiguation") && response.search[i].description.length <= 100 && response.search[i].label.length <= 30){
                                            label = response.search[i].label;   // Tag label
                                            description = response.search[i].description;   // Tag description
                                            url = response.search[i].concepturi;    // Tag URL
                                            result += '<li id=' + i + ' onclick="pickATag(' + i + ',\'' + label + '\', \'' + description + '\', \'' + url + '\')">' + label + ' (' + description + ')</li>';
                                        }else{  // Disambiguation page.
                                            console.log("There is a tag with disambiguous description.");
                                        }
                                    }else{  // Tag with no description.
                                        console.log("There is a tag without description.");
                                    }
                                }
                                result += '</ul>';
                                $('#livesearch-tag').replaceWith(result);   // Show the results of search.
                            }

                        },
                        error: function(response){  // No response from Wikidata.
                            console.log("Error!");
                            console.log(response);
                        }
                    });
                }
            }

            /**
             * On tag submit, add a new tag to the topic via API and POST request.
             *
             */
            $(document).ready(function () {
                $('#tagSubmitId').on('click', function(event){
                    event.preventDefault();
                    console.log("new tag is submitted.");  // sanity check
                    var serializedData = {  // POST request data.
                        topicId: {{ topic.id }},
                        label: $('#label').val(),
                        description: $('#cDescription').val(),
                        URL: $('#cURL').val()
                    };
                    console.log("post data: " + serializedData);
                    console.log("form submitted!");  // sanity check

                    $("#tagWarningId").replaceWith("<p id=\"tagWarningId\"></p>");  // No warnings.
                    if($("#label").val().length == 0 || $('#tag-id').val() == -1){  // Empty tag field is not accepted. Give warning.
                        console.log("Empty tag field!");
                        $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Please choose a tag to add.</p>");
                        return;
                    }
                    $.ajax({
                        url: "{% url 'addTag'%}",
                        type: "post",
                        data: serializedData,
                        cache: 'false',
                        async: 'true',

                        success: function(response) {   // Successful tag creation and addition to the topic.
                            console.log("No error.");
                            console.log(response);
                            if(response.tagId){ // Tag is created by the backend.
                                console.log("Tag exists now.");
                                location.reload();
                            }else if(response == "Already Tagged"){
                                console.log("Tag is already linked.");
                                $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag is already linked.</p>");
                            }else{
                                console.log("Tag cannot be created.");
                                $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag cannot be created.</p>");
                            }
                        },
                        error: function(response){  // Error during add tag.
                            console.log("Error: AddTag!");
                            if(response == "Tag Linking Error:"){   // Tag could not be linked to the topic.
                                console.log("Tag Linking Error:");
                            }else if(response == "Tag creation error"){ // Tag could not be created.
                                console.log("Tag is already linked.");
                            }else if(response == "Tag Linking error"){  // Tag could not be linked to the topic.
                                console.log("Tag Linking error");
                            }else{
                                console.log("Tag cannot be created.");
                            }
                            // Give warning for tag creation error.
                            $("#tagWarningId").replaceWith("<p class=\"form-control\" id=\"tagWarningId\">Tag cannot be created.</p>");
                            console.log(response);
                        }
                    });

                });
            });

        </script>

    </div>

    <!-- Show comments and other comment information for the topic. -->
    <div class="col-md-8">
        <div class="row bg-danger">
            <div class="col-md-2" >
                <h4> Votes </h4>
            </div>
            <div class="col-md-8">
                <h4> Top Comments </h4>
            </div>

            <div class="col-md-2">
                <h4> Up/Down Vote </h4>
            </div>
        </div>
        <hr>

        <div style="overflow-y: scroll; max-height: 340px">

        {% for comment in comments %}
            <div class="row" id="cRow">
                <!-- Display comment vote status. -->
                <div class="col-md-2">
                    <h4> {{ comment.vote_count }} </h4>
                </div>
                <!-- Display comment content. -->
                <div class="col-md-8">
                    <p id="content{{ comment.id }}"> {{ comment.content }}</p>
                    <p id="changeComm{{ comment.id }}"></p>
                    <p>{{ comment.current.timestamp }} {{ comment.profile.user.username }}</p>
                    <!-- Edit comment if the user is authenticated and the comment belongs to the user. -->
                    {% if user.is_authenticated and comment.profile.id == user.profile.id %}
                        <p id="cEdit{{ comment.id }}">
                            <button type="submit" class="btn btn-link" style="color:forestgreen"
                                    onclick='editComment(this.id, {{ comment.id }}, "{{ comment.content }}")'>
                                <span id="edit{{ comment.id }}" class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </p>
                    {% endif %}
                </div>
                <!-- Display voting options for the comments. -->
                {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-link" id="upvoteId"
                            style="color:pink" onclick="upvote(this.id, {{ comment.id }})">
                        <span id="up{{ comment.id }}">
                            <img width="25px" height="25px" src="{% static "image/ic_upvote_empty.png" %}">
                        </span>
                    </button>
                    <button type="submit" class="btn btn-link" id="downvoteId"
                            onclick="downvote(this.id, {{ comment.id }})">
                        <span id="down{{ comment.id }}">
                            <img width="25px" height="25px" src="{% static "image/ic_downvote_empty.png" %}">
                        </span>
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-link disabled" id="upvoteId" style="color:pink"
                            onclick="upvote(this.id, {{ comment.id }})" disabled>
                        <span id="up{{ comment.id }}">
                            <img width="25px" height="25px" src="{% static "image/ic_upvote_empty.png" %}">
                        </span>
                    </button>
                    <button type="submit" class="btn btn-link disabled" id="downvoteId"
                            onclick="downvote(this.id, {{ comment.id }})" disabled>
                        <span id="down{{ comment.id }}">
                            <img width="25px" height="25px" src="{% static "image/ic_downvote_empty.png" %}">
                        </span>
                    </button>
                {% endif %}
            </div>
            <hr>
        {% endfor %}

        <!-- Add comment to the topic. -->
            <form class="form-horizontal" style="position: fixed; bottom: 20px; width: 700px; float: right "
                  id="addCommentId" method="post">
                <form class="form-horizontal">
                    <p id="cWarningId"></p>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" name="topicId" value="{{ topic.id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Comment:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id="newCommentId" name="text" placeholder="Make a comment..."></textarea>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div>
                            <button type="submit" id="cSubmitId" class="btn btn-success" style="float: right">
                                Add Comment
                            </button>
                        </div>
                    {% else %}
                    <div>
                        <button type="submit" id="cSubmitId" class="btn btn-success disabled" style="float: right" disabled>
                            Add Comment
                        </button>
                    </div>
                    {% endif %}
                </form>
            </form>

        </div>

    </div>

<script>
    /**
     * On document load, determine the status of upvotes and downvotes for each comment.
     * A request is sent to GetCommentVoters API to get the information on what is upvoted/downvoted by the current user.
     */
    $(document).ready(function () {
        $('#cRow').each(function(){
            $.ajax({
                url: "/API/GetCommentVoters",
                type: "get",
                data: "TopicId="+{{ topic.id }},    // GET request parameter is TopicId.
                cache: 'false',
                dataType: "json",   // Response is JSON.
                async: 'true',

                success: function (response) {  // No error.
                    console.log(response);
                    for(c in response){ // For each comment in response.
                        commentId = response[c].fields.comment; // Get comment id for each comment.
                        if(!response[c].fields.upvoted && !response[c].fields.downvoted){   // Comment is neither upvoted nor downvoted.
                            console.log("Comment is neither upvoted not downvoted.");
                            // Change the HTML elements for upvote and downvote fields.
                            $("#up"+commentId).replaceWith('<span id="up{{ comment.id }}"><img width="25px" height="25px" src="{% static "image/ic_upvote_empty.png" %}"></span>');
                            $("#down"+commentId).replaceWith('<span id="down{{ comment.id }}"><img width="25px" height="25px" src="{% static "image/ic_downvote_empty.png" %}"></span>');
                        }else if(response[c].fields.upvoted){   // Comment is upvoted.
                            console.log("Comment is upvoted.");
                            // Change the HTML elements for upvote field of the comment.
                            $("#up"+commentId).replaceWith('<span id="up{{ comment.id }}"><img width="25px" height="25px" src="{% static "image/ic_upvote_filled.png" %}"></span>');
                        }else if(response[c].fields.downvoted){ // Comment is downvoted.
                            console.log("Comment is downvoted.");
                            // Change the HTML elements for downvote field of the comment.
                            $("#down"+commentId).replaceWith('<span id="down{{ comment.id }}"><img width="25px" height="25px" src="{% static "image/ic_downvote_filled.png" %}"></span>');
                        }else{
                            console.log("Something wrong with voting system.")
                        }

                    }

                },
                error: function (response) {    // Error
                    console.log(response);
                    console.log("Error during vote assessment.");

                }

            });
        });

    });

    /**
     * A new comment is submitted to the topic.
     * On click "add comment" button, send a request to backend via API.
     */
    $(document).ready(function () {
        $('#cSubmitId').on('click', function (event) {
            event.preventDefault();
            console.log("form submission requested...");  // sanity check
            serializedData = $("#addCommentId").serialize();    // addCommentId form fields are sent along with the POST request.
            console.log("post data: " + serializedData);
            console.log("form submitted!");  // sanity check
            if ($("#newCommentId").val().length == 0) { // Empty comment.
                console.log("Empty comment!");
                // Show a warning at an empty comment submission attempt.
                $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"commentWarningId\">Comment is empty.</p>");
                return;
            }

            $.ajax({
                url: "{% url 'addComment'%}",
                type: "post",   // POST request.
                data: serializedData,
                cache: 'false',
                dataType: "json",   // Response is JSON.
                async: 'true',

                success: function (response) {
                    console.log(response);
                    if (response.commentId) {   // Request was successful.
                        console.log("Comment exists now.");
                        location.reload();
                    } else {    // Error.
                        console.log("Comment cannot be created.");
                        $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"topicWarningId\">Comment cannot be created.</p>");
                    }
                },
                error: function (response) {    // Error. There's a problem with commenting. Display warning for the user.
                    console.log(response);
                    console.log("Error during topic creation.");
                    console.log(response);
                    if (response == "Comment Creation Error") {
                        console.log("Comment Creation Error");
                        $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"topicWarningId\">Comment cannot be created.</p>");
                    } else if (response == "Comment linking Error") {
                        console.log("Comment linking Error");
                        $("#cWarningId").replaceWith("<p class=\"form-control\" id=\"topicWarningId\">Comment cannot be created.</p>");
                    }
                }
            });
        });
    });

    /**
     *  Upvote comment function for logged in users.
     *  A post request is sent to the related API for rating.
     *
     *  @param id           Id for this comment tag.
     *  @param commentId    Comment Id on the backend.
     *
      */
    function upvote (id, commentId) {
        event.preventDefault();
        console.log("form submission requested...");  // sanity check
        console.log("CommentId: " + commentId);
        var serializedData = {  // Data to be sent with the POST request.
            comment: commentId,
            direction: "upvote"
        };
        console.log("post data: " + serializedData);
        console.log("form submitted!");  // sanity check

        $.ajax({
            url: "{% url 'rate'%}",
            type: "post",
            data: serializedData,
            cache: 'false',
            async: 'true',

            success: function (response) {  // Upvote is successful.
                console.log(response);
                if (response.responseText="Rated") {
                    console.log("Comment is upvoted now.");
                    location.reload();  // Reload page after voting.
                } else {
                    console.log("Comment cannot be upvoted.");
                }
            },
            error: function (response) {    // Upvote is not successful.
                console.log(response);
                console.log("Error during upvote.");
                console.log(response);
            }
        });
    }

    /**
     *  Downvote comment function for logged in users.
     *  A post request is sent to the related API for rating.
     *
     *  @param id           Id of the comment tag.
     *  @param commentId    Comment Id on the backend.
     *
     */
    function downvote (id, commentId) {
        event.preventDefault();
        console.log("form submission requested...");  // sanity check
        console.log("CommentId: " + commentId);
        var serializedData = {  // Data to be sent with the POST request.
            comment: commentId,
            direction: "downvote"
        };
        console.log("post data: " + serializedData);
        console.log("form submitted!");  // sanity check

        $.ajax({
            url: "{% url 'rate'%}",
            type: "post",   // POST request
            data: serializedData,
            cache: 'false',
            async: 'true',

            success: function (response) {  // Downvote is successful.
                console.log(response);
                if (response.responseText="Rated") {
                    console.log("Comment is downvoted now.");
                    location.reload();  // Reload page after voting.
                } else {
                    console.log("Comment cannot be downvoted.");
                }
            },
            error: function (response) {    // An error occured during downvote.
                console.log(response);
                console.log("Error during downvote.");
                console.log(response);
            }
        });
    }

    /**
     * Bring up the edit comment interface for the user.
     *
     * @param id            Tag id for the comment.
     * @param commentId     Comment Id on the backend.
     * @param content       Original comment content before edit.
     */
    function editComment(id, commentId, content){

        $('#content'+commentId).replaceWith('<textarea class="form-control" rows="5" id="content'+commentId+'" name="text">' + content + '</textarea>');
        $('#changeComm'+commentId).replaceWith('<p id="changeComm' + commentId + '"><button type="submit" class="btn btn-default" style="color:forestgreen" onclick="changeComment(' + commentId + ')">Submit</button></p>');
        $('#cEdit'+commentId).replaceWith('');

    }

    /**
     * Send a POST request to backend in order to edit a comment.
     *
     *
     * @param commentId     Comment Id on the backend.
     */
    function changeComment(commentId){
        console.log("Edit comment.");
        console.log(commentId);
        content = $('#content'+commentId).val();
        console.log(content);
        var serializedData = {  // Parameters for the POST request to the backend.
            commentId: commentId,
            text: content
        };
        $.ajax({
            url: "/API/EditComment",
            type: "post",
            data: serializedData,
            cache: 'false',
            async: 'true',

            success: function (response) {  // Comment is successfully edited.
                console.log(response);
                if (response="Comment Edited") {
                    console.log("Comment is edited now.");
                    location.reload();  // Reload the page.
                } else {
                    console.log("Comment cannot be edited.");
                }
            },
            error: function (response) {    // Comment could not be edited.
                console.log(response);
                console.log("Error during downvote.");
                if(response == "Comment Edit Error"){

                }else if(response == "Comment linking Error"){

                }
            }
        });

    }


</script>

{% endblock %}
