{% extends 'MeancoApp/Home.html' %}
{% block content %}
    <h1>{{ topic.name.label }}</h1>
    {% for comment in comments %}
        <hr>
        <div class="Comment">
            <div class="date">
                {{ comment.current.timestamp }}
            </div>
            <h2>{{ comment.profile.user.username }}</h2>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}

    <h2>TAGS:</h2>
    {% for of in oftopic %}
        <p>{{ of.tag.label }}</p>
    {% endfor %}
{% endblock %}
