{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MeanCo</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'vis-4.17.0/dist/vis.js' %}"></script>
    <link href="{% static 'vis-4.17.0/dist/vis-network.min.css' %}" rel="stylesheet" type="text/css" />

</head>
<body>

  {% include 'MeancoApp/Navbar.html' %}

  <div id="wrapper">

    {% include 'MeancoApp/Sidebar.html' %}

    <div id="page-content-wrapper">

        <div class="container-fluid" style="margin-top:50px">

        {% block content %}

        {% endblock %}


        </div>
    </div>
        <!-- /#page-content-wrapper -->

  </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
