  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="home.html">MEANCO</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a >Let's Connect! <span class="sr-only">(current)</span></a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html">Login</a></li>
          <li><a href="signup.html">SignUp</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
      <button type="submit" name="searchTopic" class="btn btn-default">Topic</button>
      <button type="submit" name="searchTag" class="btn btn-default">Tag</button>
    </div>
  </form>