{% extends 'MeancoApp/Home.html' %}

{% block content %}

    {% csrf_token %}
    <!-- Show followed topics. -->
    <button class="form-control" data-toggle="collapse" data-target="#demo1" style="color:hotpink">FOLLOWED TOPICS</button>
    <div id="demo1" class="collapse in">
        <div class="row">
            <div class="col-md-3" >
                <h4>Topic</h4>
            </div>
            <div class="col-md-3">
                <h4>Follow</h4>
            </div>
        </div>
        <hr>

        <!-- Add followed topics to the page one by one. -->
        {% for f in followed %}
            <div class="row">
                <div class="col-md-3">
                    <a href="/topic/{{ f.topic.id }}"><button type="submit" class="btn btn-danger" id="nVoteId">{{ f.topic.label }}<span id="{{ f.topic.id }}"></span></button></a>
                </div>
                <div class="col-md-3">
                    <!-- Show follow topic buttons. Heart is filled if the user's been following the topic. -->
                    {% if f.topic in followedTopics %}
                        <button type="submit" class="btn btn-link" id="nVoteId" style="color:red" onclick="follow({{ f.topic.id }})"><span id="{{ f.topic.id }}" class="glyphicon glyphicon-heart"></span></button>
                    {% else %}
                        <button type="submit" class="btn btn-link" id="nVoteId" style="color:red" onclick="follow({{ f.topic.id }})"><span id="{{ f.topic.id }}" class="glyphicon glyphicon-heart-empty"></span></button>
                    {% endif %}
                </div>
            </div>
        <hr>
        {% endfor %}
    </div>

    <!-- Show commented topics. -->
    <button class="form-control" data-toggle="collapse" data-target="#demo2" style="color:hotpink">COMMENTED TOPICS</button>
    <div id="demo2" class="collapse">
        <div class="row">
            <div class="col-md-3" >
                <h4>Topic</h4>
            </div>
            <div class="col-md-3">
                <h4>Follow</h4>
            </div>
            <div class="col-md-6">
                <h4>My Comments</h4>
            </div>
        </div>
        <hr>
        <!-- Add commented topics to the page one by one. -->
        {% for c in commented %}
            <div class="row">
                <div class="col-md-3">
                    <a href="/topic/{{ c.topic.id }}"><button type="submit" class="btn btn-danger" id="nVoteId">{{ c.topic.label }}<span id="{{ c.topic.id }}"></span></button></a>
                </div>
                <div class="col-md-3">
                    <!-- Show follow topic buttons. Heart is filled if the user's been following the topic. -->
                    {% if c.topic in followedTopics %}
                        <button type="submit" class="btn btn-default" id="nVoteId" style="color:red" onclick="follow({{ c.topic.id }})"><span id="{{ c.topic.id }}" class="glyphicon glyphicon-heart"></span></button>
                    {% else %}
                        <button type="submit" class="btn btn-default" id="nVoteId" style="color:red" onclick="follow({{ c.topic.id }})"><span id="{{ c.topic.id }}" class="glyphicon glyphicon-heart-empty"></span></button>
                    {% endif %}
                </div>
                <!-- Show user comments on the topic. -->
                <div class="col-md-6">
                {% for comment in comments %}
                    {% ifequal comment.topic.id c.topic.id %}
                        <i>{{ comment.current.timestamp }}:</i>
                        <p>{{ comment.content }}</p>
                        <br>
                    {% endifequal %}
                {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

    <!-- Show viewed topics. -->
    <button class="form-control" data-toggle="collapse" data-target="#demo3" style="color:hotpink">VIEWED TOPICS</button>
    <div id="demo3" class="collapse">
        <div class="row">
            <div class="col-md-3" >
                <h4>Topic</h4>
            </div>
            <div class="col-md-3">
                <h4>Follow</h4>
            </div>
        </div>
        <hr>
        <!-- Add viewed topics to the page one by one. -->
        {% for v in viewed %}
            <div class="row">
                <div class="col-md-3">
                    <a href="/topic/{{ v.topic.id }}"><button type="submit" class="btn btn-danger" id="nVoteId">{{ v.topic.label }}<span id="{{ v.topic.id }}"></span></button></a>
                </div>
                <!-- Show follow topic buttons. Heart is filled if the user's been following the topic. -->
                <div class="col-md-3">
                    {% if v.topic in followedTopics %}
                        <button type="submit" class="btn btn-default" id="nVoteId" style="color:red" onclick="follow({{ v.topic.id }})"><span id="{{ v.topic.id }}" class="glyphicon glyphicon-heart"></span></button>
                    {% else %}
                        <button type="submit" class="btn btn-default" id="nVoteId" style="color:red" onclick="follow({{ v.topic.id }})"><span id="{{ v.topic.id }}" class="glyphicon glyphicon-heart-empty"></span></button>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}