{% extends 'MeancoApp/Home.html' %}

{% block content %}

    <div class="col-md-4">
        <h1> {{ topic_a.label }} </h1>
        <ul style="list-style-type:none">
            {% for tag in topic_a.tags.all %}
                <li> <h3> <span class="label label-default listSpan">{{ tag.tag.label }}({{ tag.tag.description}})</span> </h3></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-4">
        <ul>
            {% for relation in relations %}
                <li>
                    ------->
                    {{ relation.label}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-4">
        <h1> {{ topic_b.label }} </h1>
        <ul style="list-style-type:none">
            {% for tag in topic_b.tags.all %}
                <li> <h3> <span class="label label-default listSpan">{{ tag.tag.label }}({{ tag.tag.description}})</span> </h3></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}