{% extends 'MeancoApp/Home.html' %}

{% block content %}
{% comment %}
    <div class="col-md-4">
        <h1> {{ topic_a.name.label }} </h1>
        <ul style="list-style-type:none">
            {% for tag in topic_a.tags %}
                <li> <h3> <span class="label label-default listSpan">{{ tag.name.label }}({{ tag.content }})</span> </h3></li>
            {% endfor %}

        </ul>
        {% if user.is_authenticated %}
            <div class="form-group">
                <textarea class="form-control" rows="1" id="comment"></textarea>
                <button type="button">Add Tag</button>
            </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <ul>
            {% for relation in topic_a.relationsFrom %}
                {% if relation in topic_b.relationsTo %}
                    {% for label in relation.label %}
                    <li>
                        ------->
                        {{ relation.label.text }}
                    </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for relation in topic_b.relationsFrom %}
                {% if relation in topic_a.relationsTo %}

                {% endif %}
            {% endfor %}
        </ul>


    </div>

    <div class="col-md-4">
        <h1> {{ topic_b.name.label }} </h1>
        <ul style="list-style-type:none">
            {% for tag in topic_b.tags %}
                <li> <h3> <span class="label label-default listSpan">{{ tag.name.label }}({{ tag.content }})</span> </h3></li>
            {% endfor %}

        </ul>
        {% if user.is_authenticated %}
            <div class="form-group">
                <textarea class="form-control" rows="1" id="comment"></textarea>
                <button type="button">Add Tag</button>
            </div>
        {% endif %}
    </div>
{% endcomment %}
{% endblock %}