{% extends 'MeancoApp/Home.html' %}
{% block content %}
    {% csrf_token %}

    <style>
    h4{
        color: deeppink;
    }
    </style>

    <div class="col-md-12">
        <div class="row" style="background-color:lightseagreen">
            <div class="col-md-6">
                <h4 style="color:whitesmoke"> Hot {{ action }}</h4>
            </div>
            <div class="col-md-2">
                {% if action == "topic" %}
                    <h4 style="color:whitesmoke"># Comments</h4>
                {% else %}
                    <h4 style="color:whitesmoke"># Topics</h4>
                {% endif %}
            </div>
            {% if action == "topic" %}
                <div class="col-md-2" >
                    <h4 style="color:whitesmoke"># Views</h4>
                </div>
            {% endif %}
            {%  if user.is_authenticated and action == "topic" %}
            <div class="col-md-2">
                <h4 style="color:whitesmoke">Follow</h4>
            </div>
            {% endif %}
        </div>
        <hr>

        {% for result in results %}
            <div class="row">
                <div class="col-md-6">
                    {% if action == "topic" %}
                        <div class="col-md-3 tag-list">
                            <a href="/topic/{{ result.id }}" style="color:deeppink" id="nVoteId"><span style="font-size:1.3em">{{ result.label }}</span></a>
                        </div>
                        <div class="tag-list">
                            {% for of in oftopics %}
                                {% if of.0.topic.id == result.id %}
                                    {% for f in of %}
                                        <span class="label label-default" style="font-size:1.1em">#{{ f.tag.label }}</span>
                                        <span class="label-desc">{{ f.tag.description }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h4>#{{ result.label }}</h4>
                        <p class="label-desc">{{ result.description }}</p>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if action == "topic" %}
                        <h4> {{ result.comment_count }} </h4>
                    {% else %}
                        <h4> {{ result.topic_count }} </h4>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if action == "topic" %}
                        <h4> {{ result.view_count }} </h4>
                    {% else %}
                        <div class="row">
                            {% for of in oftopics %}
                                {% if of.0.tag.id == result.id %}
                                    {% for f in of %}
                                        <a href="/topic/{{ f.topic.id }}"><button type="submit" class="btn btn-danger" id="nVoteId">{{ f.topic.label }}<span id="{{ f.topic.id }}"></span></button></a>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {%  if user.is_authenticated and action == "topic" %}
                    <div class="col-md-2">
                    {% if result in followedTopics %}
                        <button type="submit" class="btn btn-default" id="nVoteId" style="color:red" onclick="follow({{ result.id }})"><span id="{{ result.id }}" class="glyphicon glyphicon-heart"></span></button>
                    {% else %}
                        <button type="submit" class="btn btn-default" id="nVoteId" style="color:red" onclick="follow({{ result.id }})"><span id="{{ result.id }}" class="glyphicon glyphicon-heart-empty"></span></button>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
            <hr>
        {% endfor %}

    </div>
{% endblock %}
