<div id="sidebar-wrapper" class="sidebar" >

    <ul class="sidebar-nav" >
        <li>
            <div class="Trendings">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trending Topics</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for topic in popularTopics %}
                        <tr>
                            <td>{{ topic.label }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>

        <li>
            <div class="Trendings" style="position:fixed; bottom: 0; ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trending Tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in popularTags %}
                        <tr>
                            <td>{{ tag.label }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>

    </ul>
</div>
