{% extends 'MeancoApp/Home.html' %}

{% block content %}

    <div id="mynetwork" style="height: 1500px"></div>
    <script type="text/javascript">

        var nodes = new vis.DataSet([
            {% for topic in topics %}
                {id: {{ topic.id }}, label: {{ topic.name }}, color:'#C2FABC'},
            {% endfor %}
        ]);

        var edges = new vis.DataSet([
            {% for topic in topics %}
                {% for relation in topic.relationsFrom %}
                    {from: {{ relation.topic_a.id }}, to: {{ relation.topic_b.id }},
                        arrows: 'from', label: {{ relation.label.text }}, font: {align: 'top'}},
                {% endfor %}
            {% endfor %}
        ]);

        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
        var network = new vis.Network(container, data, options);

        {% comment %}
        network.on("doubleClick", function (params) {
            params.event = "[original event]";
            var obj = JSON.parse(params, null, 4);
            {% if obj.nodes[0] != null %}
                document.getElementById('eventSpan').innerHTML = '<a href="topic/' + obj.nodes[0]  +'" />' ;
            {% else %}
                document.getElementById('eventSpan').innerHTML = '<a href=relation/' + obj.edges[0]  +'" />' ;
            {% endif %}
        });
        {% endcomment %}


    </script>

{% endblock %}