{% extends 'MeancoApp/Home.html' %}

{% block content %}

    <div class="col-md-4">
        <h1> {{ topic.name.label }} </h1>
        <ul style="list-style-type:none">
            {% for tag in tags %}
                <li> <h3> <span class="label label-default listSpan">{{ tag.name.label }}({{ tag.content }})</span> </h3></li>
            {% endfor %}

        </ul>
        {% if user.is_authenticated %}
            <div class="form-group">
                <textarea class="form-control" rows="1" id="comment"></textarea>
                <button type="button">Add Tag</button>
            </div>
        {% endif %}
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                <h4> Votes </h4>
            </div>

            <div class="col-md-8">
                <h4> Top Comments </h4>
            </div>

            <div class="col-md-2">
                <h4> Up/Down Vote </h4>
            </div>
        </div>

        {% for comment in Comments %}
            <div class="row">
                <div class="col-md-2">
                    <h4> {{ comment.vote }} </h4>
                </div>

                <div class="col-md-8">
                    <p> {{ comment.text }}</p>
                </div>

                <div class="col-md-2">
                    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                </div>
            </div>

            <hr>
        {% endfor %}

        <form>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </form>
    </div>

{% endblock %}

