{% extends 'MeancoApp/Home.html' %}

{% block content %}

    <div id="mynetwork" style="height: 1500px"></div>
    <script type="text/javascript">

        var nodes = new vis.DataSet([
            {% for topic in topics %}
                {id: {{ topic.id }}, label: '{{ topic.label }}', group: {{ topic.view_count }},
                    value: {{ topic.comment_count }} ,shadow:{color:'rgb(0,0,0)'}},
            {% endfor %}
        ]);

        var edges = new vis.DataSet([
            {% for topic in topics %}
                {% for relation in topic.relations_a.all %}
                    {% if relation.isBidirectional %}
                        {from: {{ relation.topic_a.id }}, to: {{ relation.topic_b.id }}, id: {{ relation.id }},
                            arrows: 'to, from', label: '{{ relation.label }}', font: {align: 'top'},
                                shadow:{color:'rgb(0,100,0)'}},
                    {% else %}
                        {from: {{ relation.topic_a.id }}, to: {{ relation.topic_b.id }}, id: {{ relation.id }},
                            arrows: 'to', label: '{{ relation.label }}', font: {align: 'top'},
                                shadow:{color:'rgb(0,100,0)'}},
                    {% endif %}
                {% endfor %}
            {% endfor %}
        ]);

        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
                nodes: {
                    shape: 'dot',
                    size: 16
                },
                physics: {
                    forceAtlas2Based: {
                        gravitationalConstant: -26,
                        centralGravity: 0.005,
                        springLength: 230,
                        springConstant: 0.18
                    },
                    maxVelocity: 146,
                    solver: 'forceAtlas2Based',
                    timestep: 0.35,
                    stabilization: {iterations: 150}
                }
            };
        var network = new vis.Network(container, data, options);

        network.on("doubleClick", function (params) {
            if (params.nodes[0] != null) {
                location.href = "topic/" + params.nodes[0];
            } else if(params.edges[0] != null){
                location.href = "relation/" + params.edges[0];
            }
        });

    </script>

{% endblock %}